$primary-color: rgba(57, 119, 222, 1);
$secondary-color: rgba(189, 210, 244, 1);
$alt-color: rgba(189, 210, 244, 1);

// Showcase
.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    line-height: 1.6;
    position: relative;
    &-body {
        width: 35%;
        text-align: center;
        position: relative;
        .circle {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: $alt-color;
            position: absolute;
            top: -16px;
            right: 12%;
            z-index: -1;
        }
        p {
            text-align: center;
            font-size: 0.7em;
            margin: auto 17%;
        }
        button {
            font-size: small;
            margin: 15px 5px;
        }
        button:first-child {
            background: $primary-color;
            color: #fff;
        }
        button:nth-child(2) {
            background: rgba(235, 241, 252, 1);
            color: $primary-color;
        }
        a {
            text-decoration: none;
            color: $secondary-color;
        }
    }
    .sparse-image {
        position: absolute;
    }
    .tl {
        left: 20%;
        top: -13%;
        width: 60px;
    }
    .ml {
        left: 20%;
        top: 35%;
        width: 100px;
    }
    .bl {
        left: 17%;
        top: 100%;
        width: 60px;
    }
    .tr {
        right: 18%;
        top: -15px;
        width: 60px;
    }
    .mr {
        right: 28%;
        top: 40%;
        width: 100px;
    }

    .br {
        right: 20%;
        top: 110%;
        width: 60px;
    }
}

// Skewed Jumbotron
.skew {
    margin-top: 15.5em;
    position: relative;
    height: 400px;
    background: rgba(27, 42, 78, 1);
    z-index: -2;

    &::before,
    &::after {
        position: absolute;
        content: '';
        display: block;
        width: calc(100% + 50px);
        height: 200px;
        top: -29%;
        left: -0.4%;
        background: rgba(27, 42, 78, 1);
        transform-origin: top right;
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        z-index: -2;
    }
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding: 8em 0;
        h3 {
            width: 35%;
            text-align: center;
        }
        .services {
            width: 22%;
            margin: 20px auto 30px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
                font-size: small;
                color: $alt-color;
                img {
                    width: 15px;
                    margin-right: 7px;
                }
            }
        }
        .favicon img {
            width: 40px;
        }
    }
}
